$('#close_button').click();

/- if @account
$('#gallery').append('#{ j render(:partial => "attachment1", :locals => {:attach => @attach}) }');
if ($('#gallery').height() < 300) {
$('#gallery').css('height', '300');
}

if ($('#no_attachment').css('display') == 'block'){
$('#no_attachment').css('display', 'none');
}
